<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Precio petrolio</title>
	</head>
	<body>
		<form>
			<label for="">Provincia</label>
			<select name="provincia" id="ComunidadAutonoma">
				{% for i in provincias %} {% if i == provincia%}
				<option value="{{i}}" selected>{{i}}</option>
				{% else %}
				<option value="{{i}}">{{i}}</option>
				{% endif %} {% endfor %}
			</select>
			<label for="">Combustible</label>
			<select name="combustible" id="">
				{% for j in combustibles%} {% if j == combustible%}
				<option value="{{j}}" selected>{{j}}</option>
				{% else %}
				<option value="{{j}}">{{j}}</option>
				{% endif %} {% endfor %}
			</select>
			<input type="submit" value="Submit" />
		</form>
		{% if provincia!="" and petrolPrice!="" and petrolPrice != None%}
		<p>Precio más barato de {{provincia}} es de {{petrolPrice}}€/l</p>
		{% endif %} {% if petrolPrice == None %}
		<p>Esta provincia no tiene este tipo de combustible.</p>
		{% endif %}
	</body>
</html>
