<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Precio petrolio</title>
	</head>
	<body>
		<form>
			<label for="">Provincia</label>
			<select name="provincia" id="ComunidadAutonoma">
				{% for i in provincias %}
				<option value="{{i}}">{{i}}</option>
				{% endfor %}
			</select>
			<label for="">Combustible</label>
			<select name="combustible" id="">
				{% for combustible in combustibles%}
				<option value="{{combustible}}">{{combustible}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Submit">
		</form>
		{% if provincia!="" %}
		<p>Precio más barato de {{provincia}} es de {{petrolPrice}}€/l</p>
		{% endif %}
	</body>
</html>
