<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Precio petrolio</title>
	</head>
	<body>
		<form action="petrol">
			<label for="">Provincia</label>
			<select name="provincia" id="ComunidadAutonoma"></select>
		</form>
		{% if provincia!="" %}
		<p>Precio más barato de {{provincia}} es de {{petrolPrice}}€/l</p>
		{% endif %}
	</body>
</html>
